.title {
  background-color: red;
  text-align: center;
}
.header {
  margin: auto;
}
.mazeInput {
  width: 50px;
}
.maze {
  white-space: pre;
  padding-top: 10px;
  font-family: "courier new";
  font-weight: 100;
}
.line {
  margin: 0;
  text-align: center;
}
.engoification {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
}
.lucky {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
}
.escape {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
}
.barholder {
  display: none;
  position: fixed;
  -webkit-user-select: none;
  -webkit-transform: translate(-200px, 0px);
  top: 50%;
  left: 50%;
}
.pointer {
  position: absolute;
  -webkit-transform: translate(200px, -200px);
  z-index: 45;
  top: auto;
  left: auto;
}
.bar {
  position: absolute;
  top: auto;
  left: auto;
  background-color: rgb(50, 255, 50);
  height: 15px;
  width: 200px;
  -webkit-transform-origin: right bottom;
}
.phone {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
}
.phonebox {
  width: 250px;
  position: absolute;
  -webkit-transform: translate(100px, -250px);
  text-align: center;
}
.phonenum {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.mask {
  z-index: 40;
  position: fixed;
  top: 50%;
  left: 50%;
}